/*
$green: #18a689;
$light-green: #5fc1ad;
$grey: #e5e6e7;
*/

.button-group {
  float: right;
}

.button-group button {
  padding: 5px 10px;
  border-radius: 3px;
}

/* ------------- table ------------- */
tbody tr:hover {
  cursor: pointer;
}

th:first-child, td:first-child {
  padding: 10px 20px;
}

th:last-child, td:last-child {
  text-align: center;
}

button {
  border: none;
  border-radius: 5px;
  background-color: #18a689;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #5fc1ad;
}