.panel-body div {
  margin: 10px 20px 15px;
}

search {
  display: inline-block;
  width: 500px;
}

.button-group {
  float: right;
}

.button-group button {
  padding: 5px 10px;
  border-radius: 3px;
  height: 36px;
}

/* ------------- table ------------- */
tbody tr:hover {
  cursor: pointer;
}

th:first-child, td:first-child, th:last-child, td:last-child {
  text-align: center;
}

tbody td {
  vertical-align: middle;
}

img {
  height: 60px;
}

button {
  border: none;
  border-radius: 5px;
  background-color: #18a689;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #5fc1ad;
}