ul {
    list-style: none;
    cursor: pointer;
}

.main {
    margin: 0;
    padding: 0;
}

.main li:hover, .unfold, .unfold:hover {
    background-color: #454952;
    color: #fff;
}

.unfold, .unfold:hover{
    border-left: 5px solid #18a689;
}

p {
    margin: 0;
    padding: 0 20px;
    line-height: 50px;
    border-bottom: 1px solid #42454D;
}

.unfold p {
    background-color: #5a5f69;
    box-shadow: 1px 0 1px #000;
}

i {
    padding-right: 10px;
}

p:after {
    font-family: "FontAwesome";
    float: right;
    content: "\f104";
}

.unfold p:after {
    content: "\f107";
}

.sub {
    overflow: hidden;
    line-height: 40px;
    padding: 0;
}

a {
    margin: 0 40px;
    padding-left: 20px;
    color: #b3b3b3;
    text-decoration: none;
    border-bottom: 1px solid #5a5f69;
}

a:hover {
    color: #fff;
}

.user {
    position: absolute;
    bottom: 0;
}

.user p {

}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.logout {
    margin: 10px auto;
    width: 200px;
    background-color: #5a5f69;
    border: none;
}